.skeleton {
  background: linear-gradient(90deg,
      rgba($color-bg-panel, 0.6) 25%,
      rgba($color-bg-panel-hover, 0.9) 50%,
      rgba($color-bg-panel, 0.6) 75%);
  background-size: 200% 100%;
  animation: shimmer 2s infinite linear;
  border-radius: $radius-sm;
  width: 100%;
  height: 20px;

  &.circle {
    border-radius: 50%;
  }
}

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }

  100% {
    background-position: -200% 0;
  }
}
