.card {
  --glass-blur: 24px;
  --glass-opacity: 0.05;
  --glass-border: #{rgba($color-accent-blue, 0.2)};

  backdrop-filter: blur(var(--glass-blur));
  -webkit-backdrop-filter: blur(var(--glass-blur));
  background: linear-gradient(135deg,
      rgba($color-accent-blue, var(--glass-opacity)) 0%,
      transparent 100%);
  border: 1px solid var(--glass-border);
  border-radius: $radius-md;
  padding: $layout-padding;
  position: relative;
  overflow: hidden;
  transition: all $transition-main;
  min-width: 300px;

}

.interactive {
  cursor: pointer;
  @include glass-panel-hover; // Используем базовый миксин для консистентности

  &:hover {
    --glass-opacity: 0.08;
    border-color: rgba($color-accent-blue, 0.4);
  }
}
